<form action='/bookmarks/update' method="post">
  <input type="hidden" name="id" value="<%= @bookmark[0]['id']%>" />
  <input type="text" name="title" value="<%= @bookmark[0]['title']%>" />
  <input type="text" name="url" value="<%= @bookmark[0]['url']%>" />
  <input type="submit" value="Update" />
</form>
